# /etc/systemd/system/portfolio.service
[Unit]
Description=Gunicorn service for Django project (Python_Static_website)
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Python_Static_website
ExecStart=/home/ubuntu/Python_Static_website/venv/bin/gunicorn \
          --config /home/ubuntu/Python_Static_website/gunicorn.conf.py \
          Python_Static_website.wsgi:application

Restart=always
RestartSec=5

# Logging
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
